@import '../../styles/typography.scss';
@import '../../styles/colors.scss';

.deviceListElement {
  margin: 1rem 0;
  user-select: none;

  display: flex;

  &__name {
    color: $primaryColor;
    font-size: 2rem;
    margin: 0.5rem 3rem 0.5rem 1rem;
  }

  &__type {
    font-size: 2rem;
    color: lightslategray;
    margin: 0.5rem 3rem 0.5rem 1rem;
  }
}
