@import '../../styles/typography.scss';
@import '../../styles/colors.scss';

.completedEventListElement {
  position: relative;
  padding: 1rem;
  border-bottom: 1px dashed #e1e1e1;
  user-select: none;

  display: flex;

  background-color: $primaryBackgroundColor;
  width: 100%;

  &:hover {
    background-color: $accentColor1Dark;
  }

  &__icon {
    color: white;
    margin-top: 0.5rem;
  }

  &__time {
    color: $accentColor2;
    width: 6rem;
    font-size: 3rem;
    margin: 0.5rem 3rem 0.5rem 1rem;
  }

  &__text {
    color: $primaryColor;
    width: 100%;
    font-size: 3rem;
    margin: 0.5rem 3rem 0.5rem 1rem;
  }

  &__name {
    color: $accentColor3;
    width: 40%;
    font-size: 1.5rem;
    margin: 1.4rem 1rem 1rem 0;
    text-align: right;
    vertical-align: middle;
  }

  &__timeout {
    color: $accentColor1;
    margin: 0.4rem 1rem 0 0;

    &__text {
      position: absolute;
      right: 6rem;
      bottom: 2.8rem;
    }
  }
}
