@import '../../styles/typography.scss';
@import '../../styles/colors.scss';

.top_bar {
  height: 7.3vh;
  min-height: 4rem;
  padding: 3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout_button {
  font-size: 2rem;
  font-weight: 500;
  color: $siteHeaderTextColorSub;
  background-color: $siteHeaderTextColorSub;
  color: transparent;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  background-clip: text;
  cursor: pointer;
  user-select: none;
}
