@import '../../styles/typography.scss';
@import '../../styles/colors.scss';

.site_header {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  user-select: none;

  &__main {
    font-size: $fontSizeSiteTitleMain;
    font-weight: $fontWeightSiteTitleMain;
    color: $primaryColor;
  }

  &__sub {
    font-size: $fontSizeSiteTitleSub;
    font-weight: $fontWeightSiteTitleSub;
    color: $accentColor1;
    margin-left: 0.5rem;
  }
}
