.dash_board_cards {
  margin: 6rem 2rem 0 2rem;

  display: grid;
  grid-template-columns: repeat(2, 0.8fr);
  grid-template-rows: repeat(2, 0.8fr);
  justify-items: center;
  grid-column-gap: 5vw;
  grid-row-gap: 5vw;
}
