@import '../../styles/colors.scss';

.completedEventListHeader {
  text-align: right;
  font-size: 2rem;
  color: $primaryColor;
  margin-top: -2.5rem;
  margin-right: 2rem;
}

.completedEvents {
  overflow: auto;
  margin: 1rem 0;
  border: 2px solid $primaryColor;
}

.buttonDiv {
  text-align: center;
}
