@import '../../styles/colors.scss';

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5rem;
  background-color: $primaryBackgroundColor;
  box-shadow: 1rem 1rem 1rem $shadowColor;
  border: 2px solid $primaryColor;
  border-radius: 3px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
