@import '../../styles/typography.scss';
@import '../../styles/colors.scss';

.dashBoardCardWrapper {
  position: relative;
  width: 100%;
  padding-top: 61.8%;

  &:active {
    top: 1px;
  }

  &:first-of-type {
    padding-top: 30.9%;
    grid-column: 1 / span 2;
  }
}

.dashBoardCard {
  min-width: 21.4rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid $primaryColor;
  border-radius: 3px;
  background-color: $primaryBackgroundColor;
  box-shadow: 0.6rem 0.6rem 0.8rem $shadowColor;

  display: flex;
  flex-direction: column;

  &:hover {
    border-color: $accentColor1;
    color: $accentColor1;
  }

  &:active {
    box-shadow: 0.3rem 0.3rem 0.3rem $shadowColor;
  }

  &__title {
    font-size: 3rem;
    color: $primaryColor;
    padding: 1rem 0 1rem 2rem;
    user-select: none;
    background-color: $accentColor1Dark;
  }

  &__image {
    flex: 1;
    margin: 5% 20%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }
}
