.screen_wrapper {
  flex: 1;
  overflow: hidden;

  display: flex;

  &__left,
  &__right {
    width: 6.3vw;
    min-width: 6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__center {
    flex: 1;
    overflow: auto;

    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1440px) {
  .screen_wrapper {
    &__left,
    &__right {
      width: 4.3vw;
    }
    &__center {
    }
  }
}
